.styled-table{
    border-collapse:collapse;
    margin: auto;
    table-layout: fixed ;
    max-width: 880px;
    width: 100% ;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    align-content: center;
}
.top{
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 880px;
    display: flex;
    
}
.top .try{
   margin-left: auto;
}
.styled-table tbody tr:hover{
    background-color: rgb(248, 248, 248);;
}
.top .try .btn-add{
    background-color: rgb(0, 162, 255);
    width: 100px;
    height: 30px;
    border-radius: 8px;
 }
 .top .try .btn-add:hover{
    background-color: rgba(0, 162, 255, 0.7);
 }
.styled-table thead tr {
    background-color: deepskyblue;
    color: black;
}
p{
    color: rgb(0, 162, 255);
    font-size: medium;
    font-weight: bold;
}

.styled-table th,
.styled-table td{
    padding: 12px 15px;
    text-align: center;
}


.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
}

.btn-edit{
    background-color: yellow;
    border-radius: 8px;
}
.btn-edit:hover{
    background-color: rgba(255,255, 0, 0.2);
}
.btn-delete{
    background-color: red;
    border-radius: 8px;
}
.btn-delete:hover{
    background-color:rgba(255, 0, 0, 0.2);
}